bam
bam-0.4.0
.bam
config.lua
scripts/__pycache__
scripts/*.pyc
objs
src/game/generated
.vscode
src/.vscode
autoexec_server.log
Info.plist
build

crapnet*
dilate*
fake_server*
map_resave*
map_version*
packetgen*
teeworlds*
teeworlds_srv*
tileset_border*


stats.txt
tw+*


# CMake
data
!/data
src
!/src

*.ninja
.ninja*
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
install_manifest.txt
